<div>
    <div className="header">
        EcoRegistros
    </div>
    <p>
        Administraci칩n de granjas Ecol칩gicas, r치pido y f치cil
    </p>
    <%= link_to "new farm", api_v1_farms_path%>
    <%= link_to "Log in", employee_session_path%>
</div>